{% extends '@WebProfiler/Profiler/base.html.twig' %}


{% block title %}
    BookStore
{%  endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('css/appHomepage.css') }}">
{% endblock %}

{% block body %}
<div>
    <h1>Welcome to the BookStore</h1>
</div>
    <div>
        <ul>
            <li class="menu-list"><a href="{{ url('app_login') }}">Login</a></li>
            <li class="menu-list"><a href="{{ url('app_registration') }}">Registration</a></li>
            <li class="menu-list"><a href="{{ url('app_homepage') }}">Homepage</a></li>
        </ul>
    </div>
{% endblock %}

