{% extends '@WebProfiler/Profiler/base.html.twig' %}
{% block body %}
<form>
    <label>Username</label>
    <br>
    <input type="text">
    <br>
    <label>Password</label>
    <br>
    <input type="text">
    <br>

    <input type="submit" value="Submit">
</form>

{% endblock %}