{% extends '@WebProfiler/Profiler/base.html.twig' %}
{% block body %}

    <form>
        <label>Name</label>
        <br>
        <input type="text">
        <br>
        <label>Username</label>
        <br>
        <input type="text">
        <br>
        <label>Email</label>
        <br>
        <input type="text">
        <br>
        <label>Username</label>
        <br>
        <input type="text">
        <br>
        <label>Password</label>
        <br>
        <input type="password">
        <br>
        <label>Address</label>
        <br>
        <input type="text">
        <br>
        <label>Post number</label>
        <br>
        <input type="text">
        <br>
        <label>City</label>
        <br>
        <input type="text">
        <br>
        <label>Country</label>
        <br>
        <input type="text">
        <br>

        <input type="submit" value="Save">
    </form>

{% endblock %}