{% extends '@WebProfiler/Profiler/base.html.twig' %}
{% block title %}Registration form{% endblock %}
{% block body %}
    <h1>Welcome to the Registration page</h1>
    <div>
        <div>
            <h3>Registration</h3>
        </div>
        <div>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}