{% extends '@WebProfiler/Profiler/base.html.twig' %}

{% block title %} Question: {{ question }} {% endblock %}

{% block body %}
<h1>{{  question }}</h1>


<div>
    Full question here
</div>

<h3>Answers ({{answers|length}})</h3>

<ul>
    {% for answer in answers %}
    <li>{{ answer }}</li>
    {%  endfor %}
</ul>

{% endblock %}